<div class="pullrightbox notice--info">
    <div class="needs-js">Sorry, chat requires JavaScript.</div>
    <div class="libraryh3lp" jid="mutualaidarlington@chat.libraryh3lp.com" style="display: none;">
      <a href="#"
      onclick="window.open('https://libraryh3lp.com/chat/mutualaidarlington@chat.libraryh3lp.com?skin=31832',
      'chat', 'resizable=1,width=320,height=320'); return false;">
        Got Questions? Ask here!
      </a>
    </div>
    <div class="libraryh3lp" style="display: none;">
      Sorry! Our volunteer chat monitors are offline; <a href="mailto:MutualAidArlington@gmail.com?Subject=[MAA] Chat Index Question">email the site admin</a> instead.
    </div>
  </div>