<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://kit.fontawesome.com/5d1f6a5c65.js" crossorigin="anonymous"></script>
  </head>
  <body>

      <header>
        <h1><a href="/">{{ page.title | default: site.title | default: site.github.repository_name }}</a></h1>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
      </header>

      <div id="banner">
        <span id="logo"></span>
        <a href="/" class="button fork"><strong>Homepage</strong>  <i class="fa fa-home"></i></a>
        <div class="downloads"><!-- class forces right align -->
          <ul>
            <li><a href="/gethelp" class="button"><strong>Get Help</strong> <i class="fa fa-bullhorn"></i></a></li>
            <li><a href="/volunteer" class="button">Volunteer <i class="fa fa-users"></i></a></li>
          </ul>
        </div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section id="maincontent">
        {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
          <p>Website maintained by <a href="/admin">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>
          <i class="fab fa-twitter"></i> <a href="https://twitter.com/AidArlington">@AidArlington</a> &mdash; 
          <a href="/terms">Terms / Privacy</a> &mdash; 
          <a href="https://github.com/ShaneCurcuru/mutualaidarlington.org/blob/master/CODE_OF_CONDUCT.md">Code Of Conduct</a> &mdash; 
          <a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}" title="View Code {{ page.path }}">View Source</a> / <a href="{{ site.github.repository_url }}/edit/master/{{ page.path }}" title="Open GitHub Issue on {{ page.path }}">Propose Changes</a>
          {% if page.imagecredit %} &mdash; Image: {{ page.imagecredit }}{% endif %}
        </small></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>