---
layout: single
---

{{content}}

<hr/>

<!-- FIELDS: Timestamp	Username	Public	Name	Tech	Phone	Contact	Available	URL	Business	BusinessURL	Photo	Comments	Admin -->
<div class="volunteerlist">
{% for itm in site.data[page.datafile] %}
  <div class="techvolunteer">
    <p>
      <div class="techperson">
        <div class="techname">
          <h3>{{ itm.name }}</h3>
          <br/><strong>Contact:</strong> <i class="fa fa-envelope-open-text"></i> <a href="mailto:{{ itm.username }}?Subject=[MutualAidArlington] Request">{{ itm.username }}</a>
          {% if itm.url %}<br/><strong>Website: </strong><a href="{{ itm.url }}">{{ itm.url }}</a>{% endif %}
          <br/><strong>Availability: </strong>{{ itm.available }}
        </div>
        {% if itm.photo %}<div class="techphoto"><img src="{{ itm.photo }}" alt="Photo of person"></div>{% endif %}
      </div>
    </p>
    <div class="techareas">
      <strong>Can offer help in these areas: </strong><i class="fa fa-laptop-house"></i>
      {% assign areas = itm.tech | split: ";" %}
      <ul>
      {% for area in areas %}
        <li>{{ area }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endfor %}
</div>
